name: Release artifacts

on:
  push:
    branches:
      - main
    tags:
      - "v*.*.*"

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: macos-latest
            target: x86_64-apple-darwin
            suffix: ""
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            suffix: ""
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            suffix: ".exe"
    permissions:
      # contents permission to upload artifacts and create new release notes
      contents: write
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - uses: dtolnay/rust-toolchain@stable

      - name: Build
        run: |
          cargo build --locked --release --target "${{ matrix.target }}"

      - name: Export enviroment variables
        run: |
          echo "artifact_name=whiz-${{ github.ref_name }}-${{ matrix.target }}.zip" >> $GITHUB_ENV
          echo "build_name=whiz${{ matrix.suffix }}" >> $GITHUB_ENV
          echo "build_path=target/${{ matrix.target }}/release" >> $GITHUB_ENV

      - name: Zip
        run: |
          mv "${{ env.build_path }}/${{ env.build_name }}" .

          # best zip compression
          7z \
          a \
          -mm=Deflate \
          -mfb=273 \
          -mpass=15 \
          "${{ env.artifact_name }}" \
          "${{ env.build_name }}"

      - uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          generateReleaseNotes: true
          artifacts: "${{ env.artifact_name }}"
